@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: currentColor !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition:  5000s ease-in-out 0s;
    background-color: transparent !important;

}

.hero-bg-image {
    background-image: url('../assets/login.webp');
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    filter: brightness(20%);
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}